.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px 0 0;
  width: 600px;
  border: 1px solid #858585;
  margin-top: 10px;
}

.card-content:hover {
  background-color: #ddd;
}

.img-div {
  width: 150px;
  height: 150px;
}

.img-div img{
  width: 100%;
}

.card-content h1{
  padding: 0;
  margin-left: 30px;
  color: #333;
}

.card-content p{
  color: grey;
  font-size: 12px;
  margin-left: 30px;
}
